.media{
  padding: 50px;
  
}

.titleheader{
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  
}

.m19logo{
  width:200px;
}

.text-title{
  font-size: 3em;
  
}

.logo{
  background-color: #f7dad9;
}

#btn-style{
  margin-left:20px;
}

.foot{
  background-color:#d6d2c4;
  margin-top: 30px;
  text-align:center;
}
