#carouselExampleIndicators{
  margin-top:100px;
}

.titleheader h1{
  text-align: center;
  margin-top: 50px;
  font-size: 80px;
}

.m19logo{
  width:200px;
}

.text-title{
  font-size: 3em;
  
}
.logo{
  background-color: #f7dad9;
}

.foot{
  background-color:#d6d2c4;
  margin-top: 30px;
  text-align:center;
}

#btn-style{
  margin-left:20px;
}

